{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<form action="{{url_for('product')}}" method=post>
<dl>
  <dt>Product</dt>
  <dd>{{ forms.input('name') }}</dd>
  <dt>Product Type</dt>
  <dd>{{ forms.select('productType', 'Fanta' , productTypes) }}</dd>
</dl>
  <input type="submit" text="go">
</form>

<div>
  <table>
    <caption>table title and/or explanatory text</caption>
    <thead>
      <tr>
        <th>Product Type</th>
        <th>Product Name</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td>{{product.type}}</td>
        <td>{{product.name}}</td>
        <td>{{forms.checkbox(product.name, product.name)}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
