{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<form action="{{url_for('driver')}}" method=post>
<dl>
  <dt>Name</dt>
  <dd>{{ forms.input('name') }}</dd>
  <dt></dt>
</dl>
  <input type="submit" text="go">
</form>

<div>
  <table>
    <caption>Driver List</caption>
    <thead>
      <tr>
        <th>Driver Id</th>
        <th>Driver Name</th>
      </tr>
    </thead>
    <tbody>
    {% for driver in drivers %}
      <tr>
        <td>{{driver.id}}</td>
        <td>{{driver.name}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
