{% macro input(name, value='', type='text') -%}
    <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40) -%}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols
        }}">{{ value|e }}</textarea>
{%- endmacro %}

{%- macro select(name, options) -%}
    <select name="{{ name }}">
    {%- for option in options %}
        <option value="{{option}}"> {{option}} </option>
    {%- endfor %}
    </select>
{%- endmacro %}