{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<style>
/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    height: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 5px;
    margin-top: -6px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
</style>
<div class="container">
{% if session['user_type'] == 'storekeeper' %}
  <div style="height: 100px; ">
      <form action="{{url_for('updateDriver')}}" method="POST" role="form">
        <input type="hidden" name="packageId" value="{{package.id}}">
        {{ forms.label_selectName('Driver','driverId', package.driver|string , drivers) }}
        {{ forms.label_selectName('Customer','customerId', package.customer|string , customers) }}
        <div class="form-group">
          <div class="col-sm-offset-10 col-sm-1" style="padding-left: 35px;">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      </form>
  </div>
  <hr class="style-seven">
{% endif %}

    {% for workflow in workflows %}
      <form action="{{url_for('start')}}" method="POST" role="form" style="display:inline-block;">
          <input type="hidden" name="packageId" value="{{package.id}}">
          <input type="hidden" name="action" value="{{workflow.action}}">
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-default">{{workflow.name}}</button>
            </div>
          </div>
      </form>
    {% endfor %}

  <hr class="style-seven">
  <a href="/quick?packageId={{package.id}}" >Add Items</a>
   <table class="table table-striped">
      <caption>Package Items</caption>
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
      {% for item in package.packageItems %}
        <tr>
          <td>{{item.productId}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
