{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<div>
   <table class="table table-striped">
      <caption>Items of the package</caption>
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
      {% for item in package.packageItems %}
        <tr>
          <td>{{item.productId}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if session['user_type'] == 'storekeeper' %}
      <form action="{{url_for('updateDriver')}}" method="POST">
        <input type="hidden" name="packageId" value="{{package.id}}">
        {{ forms.selectName('driverId', package.driver|string , drivers) }}
        <input type="submit" value="Assign Driver">
      </form>
      <form action="{{url_for('updateCustomer', packageId=package.id)}}" method="POST">
        <input type="hidden" name="packageId" value="{{package.id}}">
        {{ forms.selectName('customerId', package.customer|string , customers) }}
        <input type="submit" value="Assign Customer">
      </form>
      <a href="/quick?packageId={{package.id}}" >Add Items</a>
    {% endif %}
    
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
