{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<form action="{{url_for('product')}}" method="post" class="form-horizontal"  role="form">
  {{ forms.labelAndInput('Name', 'name') }}
  {{ forms.labelAndInput('Code', 'code1') }}
  {{ forms.labelAndInput('Quantity', 'quantity') }}
  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>

<div>
  <table class="table table-striped">
    <caption>Products</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.code}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
