{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<div>
  <form action="{{url_for('createPackage')}}" method="post">
    <input type="hidden" name="packageId" value="{{packageId}}" readonly>
    <table class="table table-striped">
      <caption>{{session['user']}}</caption>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{ forms.input('productQuantity-' + (product.id|string))}}</td>
          <td>{{forms.checkbox('productId', product.id )}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if (packageId|int) > 0 %}
      <input type="submit" value="add to package">
    {% else %}
      <input type="submit" value="create package">
    {% endif %}
    
  </form>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
