{% import 'forms.html' as forms %}
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

<div>
  <form action="{{url_for('createPackage')}}" method="post">
    <input type="text" name="packageId" value="{{packageId}}" readonly>
    <table class="table table-striped">
      <caption>create package</caption>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.quantity}}</td>
          <td>{{forms.checkbox('productId', product.id )}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="create package">
  </form>
</div>

  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
